<ion-header>

  <ion-navbar>
    <ion-title>Veranstaltung</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>
  <form [formGroup]="settingsForm" (ngSubmit)="finishWorkflow()">
    <ion-list>
      <ion-list-header>Deine Zugangsdaten</ion-list-header>    
      <ion-item>
        <ion-label stacked>Veranstaltungscode</ion-label>
        <ion-input type="text" placeholder="XXXXX-XXXX-XXXX" formControlName="eventCode" maxlength="15"></ion-input>
      </ion-item>
      <ion-item *ngIf="settingsForm.controls.eventCode.pending && settingsForm.controls.eventCode.dirty">
        <p>Veranstaltungscode wird geprüft ...</p>
      </ion-item>
      <ion-item *ngIf="!settingsForm.controls.eventCode.pending && !settingsForm.controls.eventCode.valid && settingsForm.controls.eventCode.dirty && settingsForm.controls.eventCode.errors.codeInvalid">
        <p ion-text color="danger">Der Veranstaltungscode ist leider ungültig.</p>
      </ion-item>
      <ion-item text-wrap *ngIf="!settingsForm.controls.eventCode.pending && !settingsForm.controls.eventCode.valid && settingsForm.controls.eventCode.dirty && settingsForm.controls.eventCode.errors.pattern">
        <p ion-text color="danger">Bitte gib den Code als Zahlenfolge im Format XXXXX-XXXX-XXXX ein.</p>
      </ion-item>
      <ion-item *ngIf="eventName && !settingsForm.controls.eventCode.pending && settingsForm.controls.eventCode.valid">
          <p>Veranstaltung: <b>{{eventName}}</b></p>
      </ion-item>
      <ion-item text-wrap *ngIf="!eventName"> 
        <p>Den Veranstaltungscode bekommst du von den Gastgebern.</p>
      </ion-item>  
      <ion-item>
        <ion-label stacked>Dein Name</ion-label>
        <ion-input type="text" placeholder="Wie heißt Du?" formControlName="userName" maxlength="20"></ion-input>
      </ion-item>
      <ion-item text-wrap *ngIf="!settingsForm.controls.userName.valid && !settingsForm.controls.userName.pending && settingsForm.controls.userName.dirty">
        <p ion-text color="danger">Bitte verwende nur Buchstaben von A-Z und Ziffern für den Namen. Leerzeichen zwischen Namensteilen sind erlaubt, Z.B. 'Karla Kolumna".</p>
      </ion-item>
      <ion-item text-wrap>
        <p>Deine Bilder werden in der Veranstaltung unter diesem Namen abgelegt.</p>
      </ion-item>
      <button ion-button full type="submit" [disabled]="!settingsForm.valid">Veranstaltung beitreten</button>
    </ion-list>
  </form>
</ion-content>
